@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100; /* Thin */
    src: url('/fonts/Pretendard-Thin.woff2') format('woff2'),
    url('/fonts/Pretendard-Thin.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200; /* ExtraLight */
    src: url('/fonts/Pretendard-ExtraLight.woff2') format('woff2'),
    url('/fonts/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300; /* Light */
    src: url('/fonts/Pretendard-Light.woff2') format('woff2'),
    url('/fonts/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400; /* Regular */
    src: url('/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('/fonts/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500; /* Medium */
    src: url('/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('/fonts/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600; /* SemiBold */
    src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2'),
    url('/fonts/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700; /* Bold */
    src: url('/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('/fonts/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800; /* ExtraBold */
    src: url('/fonts/Pretendard-ExtraBold.woff2') format('woff2'),
    url('/fonts/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900; /* Black */
    src: url('/fonts/Pretendard-Black.woff2') format('woff2'),
    url('/fonts/Pretendard-Black.woff') format('woff');
}
